.modal{
    background-color: white;
    width: 450px;
    height: 230px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 20px;
    z-index: 10;
}

.title_header{
    margin: 0;
    padding: 20px;
    font-weight: 500;
}
.modal_btn{
    background-color: #007eb9;
    width: 100px;
    height: 40px;
    margin: 10px;
}

.modal_btn:hover{
    background-color: #23a4e0;
}

.modal_text{
    width: 435px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
    margin-top: 60px;
    color: black;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
  }